{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        input:invalid {
            border: 1px solid black;
        }

        .form-group {
            margin-bottom: 15px;
        }
    </style>
  </head>
  <body>
    <section class="newsSection">
      <div class="positionFixedDiv container-fluid d-flex justify-content-center">
        <div class="p-3">
          Participate and achieve Mahatma Gandhiji Remembrance Medal
        </div>
        <div class="p-3">
          <a href="{% url 'signup' %}">
            <button type="button" class="btn">Submit Now</button>
          </a>
        </div>
      </div>
    </section>
    <section class="navBarTop">
      <div class="navBarTopDiv container-fluid d-flex justify-content-around">
        <div class="p-3">
          <ul class="d-inline-flex">
            <li>
              <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-youtube"></i></a>
            </li>
          </ul>
        </div>
        <div class="p-3 contactDetails">
          <ul class="d-inline-flex">
            <li>
              <a href="#"><i class="fa-solid fa-mobile-screen-button"></i>9384620003</a>
            </li>
            <li>
              <a href="#"><i class="fa-regular fa-message"></i>info@ciedr.org</a>
            </li>
            <li>
              <a href="#"><i class="fa-solid fa-location-pin"></i>india</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="navBarDetails">
      <nav class="navbar navbar-expand-lg navbar-light bg-light container">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img class="navBarDetailsimg" src="{% static 'img/crop.jpeg' %}" alt="" />  
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarScroll"
            aria-controls="navbarScroll"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">ABOUT US</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">EVENTS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">WINNERS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'signup' %}">SIGNUP</a>
              </li>
            </ul>
            <form class="d-flex">
              <div class="searchicon">
                <i class="fa-solid fa-magnifying-glass"></i>
              </div>
              <a href="{% url 'signup' %}">
              <button class="btn btn-outline-success"  type="button">SUBMIT NOW</button>   
              </a>
            </form>
          </div>
        </div>
      </nav>
    </section>
    <section class="participate">
      <div class="container-fluid">
        <img class="img-fluid" src="{% static "img/ciedr-event-header-1-2-2048x569.png" %}" alt="" />  
      </div>
    </section>
    <section class="registerForm p-3">
      <h5 class="text-center">Mahatma Gandhiji Medal Events</h5>
      <div class="container">
        <form method="POST" action="{% url 'signin' %}">
          {% csrf_token %}
          <div class="mb-3">
              <label for="email" class="form-label">Email Id:</label>
              <input type="email" class="form-control" id="email" name="email" required>
          </div>
        
          <div class="mb-3">
              <label for="pass1" class="form-label">Password:</label>
              <input type="password" class="form-control" id="pass1" name="pass1" required>
          </div>
          
          <div class="mb-3">
              {% if messages %}
              <ul class="messages">
                  {% for message in messages %}
                      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                  {% endfor %}
              </ul>
              {% endif %}
          </div>
          <button class="btn btn-primary" type="submit">Sign In</button>
      </form>
  </div>
      </div>
    </section>
    <br>
    <br>
    <br>
    <br>
    <br>
    <section class="footerSection">
      <footer>
        <div>
          <ul>
            <li>About Us /</li>
            <li>Events /</li>
            <li>Winners /</li>
          </ul>
          <p>
            Copyright ©2023 Centre for Innovative Education and Development Research. All rights reserved.
          </p>
        </div>
      </footer>
    </section>
  </body>
</html>
